.gradle
.idea
build
account-service/build
account-service/.gradle

bill-service/build
bill-service/.gradle

config-service/build
config-service/.gradle

deposit-service/build
deposit-service/.gradle

gatway/build
gatway/.gradle

notification-service/build
notification-service/.gradle

registiry/build
registiry/.gradle
HELP.md